#brand-logo-text {
  width: 250px;
  height: 100px;
}
#carousel-top{
  background-image: url("../images/background02.png");
  background-size: cover; 
  background-position: center; /* Center the image */
}
/*about*/
#about-panel{
  background-image: url("../images/about-panel.jpg");
  background-size: cover;
}

#inner-logo{
  width: 15%;
}

/*
header {
    width: 100%;
    height: 100%;
}

#contacto {
	min-height: 500px;
}

#map {
        height: 55%;
}
#logo-page {
	max-width: 35%;
    max-height: 50%;
    min-width: 250px;
}

body, html {
  height: 100%;
}

#brand-logo-text {
	width: 250px;
	height: 100px;
	display: none;
}

#brand-logo {
	width: 100px;
	height: 100px;
}

#brand-toggler {
	width: 50px;
	height: 50px;
}
*/