/* Image for Parallax Section */ 
.paralsec {
	background-image: url("https://images.pexels.com/photos/516018/pexels-photo-516018.jpeg?cs=srgb&dl=blurry-buildings-city-516018.jpg&fm=jpg");
}
.paralsec1 {
	background-image: url("https://opto.ca/sites/default/files/blurred_people_office_istock_67157357_medium.jpg");}
 
.paralsec2 {
	background-image: url("https://www.magrudereye.com/wp-content/uploads/2018/08/Blurred-vision.jpeg");
}
.paralsec3 {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Rp3ZIJe/blurred-background-of-autumn-park-for-backdrop_n36gnprwx__F0000.png");
}

/* Add more images for more sections */