/* Header Parallax Element Style*/ 

.paral {
	min-height: 100%;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-position: 50% 50%;
}
/* Paragraph for Parallax Section */ 
/*
.paral p {
	font-size: 24px;
	--color:#f5f5f5; original
	color:#111;
	text-align: center;
	line-height: 60px;
}
*/
 
/* Heading for Parallax Section */ 
.paral h1 {
	/*color: rgba(255, 255, 255, 0.8);*/
	color:#111;
	font-size: 60px;
	text-align: center;
	padding-top: 60px;
	line-height: 100px;
}
/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}